<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cryptocurrency</title>
  </head>
  <body>



<div class="container my-4">
<div class="accordion" id="accordionExample">

      <!-- warning alert-->
      <div class="alert alert-info text-center" role="alert">
        Website under Development
      </div>
      <!-- warning alert ends-->


<!--first whole card starts -->
<!-- first card starts-->
<div class="card mb-2" style="max-width: 1120px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/cyber.jpg" class="card-img" alt="static">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">US ran offensive cyber ops to support Ukraine, says general</h5>
              <p class="card-text">Public acknowledgement ‘unusual’, one cybersec exec tells us</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
       <!-- first card ends-->
    </div>
<!--first dropdown starts-->
<div class="card mb-2">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Read More
      </button>
    </h2>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>

</div>
<!--first dropdown ends-->
<!--first whole card ends -->



<!--second whole card starts -->
<!-- second card starts-->
<div class="card mb-2" style="max-width: 1120px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/static/cyberattack.jpg" class="card-img" alt="static">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">WatchDog hacking group launches new Docker cryptojacking campaign</h5>
        <p class="card-text">The WatchDog hacking group is conducting a new cryptojacking campaign with advanced techniques for intrusion, worm-like propagation, and evasion of security software.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
 <!-- second card ends-->
<!--second dropdown starts-->
<div class="card">
  <div class="card-header" id="headingTwo">
  <h2 class="mb-0">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Read More
  </button>
  </h2>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
  <div class="card-body">
    The hacking group targets exposed Docker Engine API endpoints and Redis servers and can quickly pivot from one compromised machine to the entire network.
    The goal of the threat actors is to generate profit by mining cryptocurrency using the available computational resources of poorly secured servers.
  </div>
  </div>

</div>
<!--second dropdown ends-->
<!--second whole card ends -->

















      
      <!-- Pagination code below -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
          <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> --> 
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <!-- ><li class="page-item"><a class="page-link" href="#">Next</a></li> -->
        </ul>
      </nav>
      <!-- paginatiion code ends-->

    <!-- Navbar ends -->

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>