<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Thecyberscroll</title>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

        <a class="navbar-brand" href="#">Thecyberscroll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://newll-thecyberscroll.herokuapp.com/about">About</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="https://newll-thecyberscroll.herokuapp.com/contact">Contact</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://newll-thecyberscroll.herokuapp.com/blogs">Blogs</a>
                <a class="dropdown-item" href="https://newll-thecyberscroll.herokuapp.com/cryptocurrency">Cryptocurrency</a>
                <a class="dropdown-item" href="https://newll-thecyberscroll.herokuapp.com/sharemarket">Share Market</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://newll-thecyberscroll.herokuapp.com/cybersecurity">Cyber Talks</a>
              </div>
              
            </li>



<!-- Sign in button -->
<!--
<div class="text-end">
  <a class="btn btn-primary" href="#" role="button">Login</a>
  <a class="btn btn-warning" href="#" role="button">Sign-up</a>
</div>
-->
<!-- -->
          </ul>
        </div>
      </nav>
   
    <!-- Carousel Slider -->
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img src="/static/cyber.jpg" class="d-block w-100" width="10" height="400" alt="...">
        </div>
        <div class="carousel-item" data-interval="10000">
          <img src="/static/crypto.jpg" class="d-block w-100" width="10" height="400" alt="...">
        </div>
        <div class="carousel-item" data-interval="10000">
          <img src="/static/stockmarket1.jpg" class="d-block w-100" width="10" height="400" alt="...">
        </div>
        <div class="carousel-item" data-interval="10000">
          <img src="/static/blogs.jpg" class="d-block w-100" width="10" height="400" alt="...">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>   

    <!-- Make Text center -->
    <div class="text-center p-3">
    <!-- 2 Cards -->  
    <div class="container my-4">
    <div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
       <h5> <div class="card-header">LATEST BLOGS</div> </h5>
        <div class="card-body">
         <!-- <h5 class="card-title">LATEST BLOGS</h5> -->
          <p class="card-text">Here you will find the latest and newest Blogs.</p>
        </div>
        <a class="btn btn-dark" href="https://new-thecyberscroll.herokuapp.com/blogs" role="button">Click Here</a>
      </div>
      
      <div class="card text-white bg-warning mb-3" style="max-width: 25rem;">
       <h5> <div class="card-header">CRYPTOCURRENCY </div> </h5>
        <div class="card-body">
         <!-- <h5 class="card-title">CRYPTO CORNER</h5> -->
          <p class="card-text">Here you will find the latest and newest Cryptocurrency News.</p>
        </div>
        <a class="btn btn-dark" href="http://new-thecyberscroll.herokuapp.com/cryptocurrency" role="button">Click Here</a>
      </div>
    </div>
    </div>
    <!-- 2 Cards -->
    <div class="container my-4">
    <div class="card-deck ">
            <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
              <h5>  <div class="card-header">SHARE MARKET</div> </h5>
                <div class="card-body">
                  <p class="card-text">Here you will find the latest and newest SHARE MARKET News.</p>
                </div>
                <a class="btn btn-dark" href="https://newll-thecyberscroll.herokuapp.com/sharemarket" role="button">Click Here</a>
              </div>
        
        
              <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
               <h5> <div class="card-header">CYBER TALKS</div> </h5>
                <div class="card-body">
                  <p class="card-text">Here you will find the latest and newest Cybersecurity News.</p>
                </div>
                <a class="btn btn-dark" href="https://newll-thecyberscroll.herokuapp.com/cybersecurity" role="button">Click Here</a>
              </div>
            </div>
          </div>
          <!-- Ending of Text center  -->
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center text-lg-start">
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 2);">
                
                <a class="text-light">© 2022 Copyright : Thecyberscroll.com</a>
              </div>
              <!-- Copyright -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>